In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import joblib

# Load processed data
df = pd.read_csv('ipl_cleaned.csv')

# If encoded columns aren't present, encode them now

In [5]:
df.head()

,Unnamed: 0,batting_team,bowling_team,venue,inning,over,ball,balls_bowled,runs_total,wicket_kind,...,current_wickets,final_score,batting_team_encoded,bowling_team_encoded,venue_encoded,balls_remaining,current_run_rate,team_avg_score,bowling_avg_conceded,venue_avg_score
0,0,Chennai Super Kings,Deccan Chargers,Buffalo Park,1,0,1,1,0,none,...,0,178,0,1,7,119,0.0,339.446175,248.929749,134.767832
1,1,Chennai Super Kings,Deccan Chargers,Buffalo Park,1,0,2,2,1,none,...,0,178,0,1,7,118,3.0,339.446175,248.929749,134.767832
2,2,Chennai Super Kings,Deccan Chargers,Buffalo Park,1,0,3,3,0,none,...,0,178,0,1,7,117,2.0,339.446175,248.929749,134.767832
3,3,Chennai Super Kings,Deccan Chargers,Buffalo Park,1,0,4,4,4,none,...,0,178,0,1,7,116,7.5,339.446175,248.929749,134.767832
4,4,Chennai Super Kings,Deccan Chargers,Buffalo Park,1,0,5,5,1,none,...,0,178,0,1,7,115,7.2,339.446175,248.929749,134.767832